/* Animación para testimonios */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade {
    animation-name: fadeInOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
} 